/* body {
    margin: 100px;
} */

/* .box1, .box2 {
    height: 200px;
    width: 200px;
} */

/* .box {
    height: 50px;
    width: 50px;
}

.main_box {

    height: 80vh;

}

.box3 {
    height: 250px;
    width: 250px;
} */